:root.theme-dark {
  --background-image: url("../images/cover-image-dark.png");
  --accent-color: #FF0070;
  --accent-color-hover: #FF007066;
  --background-color: #000028;
  --text-color: #F1B2CE;
  --h1-color: #DB00FF;
  --h2-color: var(--accent-color);
  --h3-color: var(--background-color);
  --decoration-color: var(--accent-color);
}

.theme-dark .rec-indicator {
  display: flex;
}
