:root.theme-light {
  --background-image: url("../images/cover-image-light.png");
  --accent-color: #FF8DCB;
  --accent-color-hover: #32312D66;
  --background-color: #FFF1F7;
  --text-color: #353430;
  --h1-color: #FFC2E6;
  --h2-color: var(--text-color);
  --h3-color: var(--text-color); 
  --decoration-color: var(--text-color);
}

.theme-light .rec-indicator {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root{
  --background-image: url("../images/cover-image-light.png");
  --accent-color: #FF8DCB;
  --accent-color-hover: #32312D66;
  --background-color: #FFF1F7;
  --text-color: #353430;
  --h1-color: #FFC2E6;
  --h2-color: var(--text-color);
  --h3-color: var(--text-color); 
  --decoration-color: var(--text-color);
  }
  .rec-indicator {
    display: none;
  }
}